# Inputs
DOWNLOAD_DIR="~/.fast-app"
JDK_VERSION="amazon-corretto-21"
FASTQC_VERSION="fastqc_v0.12.1"
PERL_VERSION="perl-5.40.0"
LOG_DIR="~/.fast-app-logs"
LOG_FILE="fast-app-execution.log"
LOG_LEVEL="INFO"