# Inputs
DOWNLOAD_DIR="~/.fast-app"
JDK_VERSION="amazon-corretto-21"
FASTQC_VERSION="fastqc_v0.12.1"
PERL_VERSION="perl-5.40.0"
FASTP_VERSION="fastp-1.0.1"
CONDA_VERSION="Miniconda3-latest-Linux-x86_64"
LOG_DIR="~/.fast-app-logs"
LOG_FILE="fast-app-execution.log"
LOG_LEVEL="INFO"
FORCE_FRESH_LIBRARY_INSTALL="false"
IGNORE_LIBRARY_INSTALL="false"
IGNORE_LIBRARY_TEST="false"